[submodule "libwhisper/whisper.cpp"]
	path = libwhisper/whisper.cpp
	url = https://github.com/my-monkeys/whisper.cpp
[submodule "libwhisper/llama.cpp"]
	path = libwhisper/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
